body {
    background-color: #080808;
}

#game-canvas {
    width: 100%;
    height: 100%;
}

#root {
    width: 800px;
    height: 600px;
    margin: auto;
    margin-top: 20px;
    vertical-align: middle;
}

#attrib {
    position: fixed;
    left: 10px;
    bottom: 10px;
    color: #202020;
}
#attrib a {
    color: #444444;
}

