text.username {
    fill: #202020;
    alignment-baseline: baseline;
    text-anchor: middle;
}
text.stack {
    fill: #202020;
    alignment-baseline: hanging;
    text-anchor: middle;
}
text.username.me {
    font-weight: bold;
    fill: #efefef;
    stroke: #efefef;
}
text.stack.me {
    fill: #efefef;
    stroke: #efefef;
}
