$pulse-speed: 3s;
$pulse-radius: 1.5;
$pulse-scale: 4;
$pulse-stroke: 1;

.pulse-circle-1, .pulse-circle-2, .pulse-circle-fixed {
    transform-origin: center;
    stroke-width: $pulse-stroke;
    fill: none;
    transform: translate3d(0,0,0);
}

.pulse-disk {
    r: $pulse-radius + $pulse-stroke;
}
.pulse-circle-fixed {
    r: $pulse-radius * $pulse-scale;
}

.pulse-circle-1 {
    r: $pulse-radius;
    animation: pulse-1 $pulse-speed cubic-bezier(.39,.54,.41,1.5) infinite;
}
.pulse-circle-2 {
    r: $pulse-radius * $pulse-scale;
    animation: pulse-2 $pulse-speed cubic-bezier(.39,.54,.41,1.5) infinite;
}

@keyframes pulse-1 {
    0% {
        r: $pulse-radius;
    }
    50% {
        r: $pulse-radius * $pulse-scale;
        opacity: 1;
    }
    90% {
        opacity: 0;
    }
    100% {
        opacity: 0;
        r: $pulse-radius * $pulse-scale;
    }
}

@keyframes pulse-2 {
    0% {
        opacity: 1;
    }
    40% {
        opacity: 0;
    }
    49% {
        r: $pulse-radius * $pulse-scale;
        opacity: 0;
    }
    50% {
        r: $pulse-radius;
        opacity: 1;
    }
    100% {
        r: $pulse-radius * $pulse-scale;
        opacity: 1;
    }
}
